# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
Dockerfile.production
.dockerignore

# CI/CD
.github
.gitlab-ci.yml

# Ambiente
.env
.env.*

# Node
node_modules
npm-debug.log
yarn-error.log

# Editor
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Laravel
/src/storage/*.key
/src/vendor
/src/node_modules

# Data
/data

# Logs
*.log

# Docs
README.md
